.main {
  display: flex;
  flex: 20;
  flex-direction: column;
  overflow: hidden;

  /* border: black 1px solid; */
}

.calendarSelector {
  display: flex;
  flex-direction: column;
  background-color: #e8ebff;
  border-top: #e8ebff 1px solid;
  border-bottom: #e8ebff 1px solid;
}

.calendarSelector select {
  border: 0;
  background-color: #e8ebff;
}

.slider {
  display: flex;
  justify-content: space-around;
}

.slider button {
  font-size: large;
}

.dayName {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.dayNumber {
  display: flex;
  justify-content: center;
}

.week {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.calendarMatrix {
  overflow-y: scroll;
  background-color: #ffffff;
}

.calendarMatrix table {
  /* display: flex; */
  width: 100%;
  border-spacing: 0;
}

/* .calendarMatrix table tbody {
  overflow: scroll;
} */

.calendarMatrix tbody tr th {
  height: 30px;
  border: #e8ebff 1px solid;
}
